{% extends "base/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Het interventieonderzoek" %}
{% endblock %}

{% block progress %}{{ progress }}{% endblock %}

{% block sidebar %}
{% with proposal=study.proposal %}
{% include "base/sidebar.html" %}
{% endwith %}
{% endblock %}

{% block content %}
<script>
$(function() {
    check_field_required('setting', 'needs_details', 'setting_details', 'core');
    check_field_required('setting', 'needs_supervision', 'supervision', 'core');

    depends_on_value('has_prepost', 'True', 'prepost_experimenter');
    depends_on_value('has_prepost', 'True', 'prepost_description');

    depends_on_value('has_prepost', 'True', 'pre_duration');
    depends_on_value('has_prepost', 'True', 'pre_registrations');
    check_field_required('pre_registrations', 'needs_details', 'pre_registrations_details', 'core', 'Registration');
    check_field_required('pre_registrations', 'needs_kind', 'pre_registration_kinds', 'core', 'Registration');
    check_field_required('pre_registration_kinds', 'needs_details', 'pre_registration_kinds_details', 'core', 'RegistrationKind');

    depends_on_value('has_prepost', 'True', 'post_duration');
    depends_on_value('has_prepost', 'True', 'post_registrations');
    check_field_required('post_registrations', 'needs_details', 'post_registrations_details', 'core', 'Registration');
    check_field_required('post_registrations', 'needs_kind', 'post_registration_kinds', 'core', 'Registration');
    check_field_required('post_registration_kinds', 'needs_details', 'post_registration_kinds_details', 'core', 'RegistrationKind');

    depends_on_value('has_controls', 'True', 'controls_description');
    
    add_title('setting', "{% trans 'Setting' %}");
    add_title('period', "{% trans 'Periode en duur' %}");
    add_title('has_prepost', "{% trans 'Voor- en nameting' %}");
    add_title('experimenter', "{% trans 'Details interventie' %}");
});
</script>
{% include "studies/study_title.html" %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% with proposal=study.proposal %}
    {% include "base/form_buttons.html" %}
    {% endwith %}
</form>
{% endblock %}
